html {
    font-size: 62.5%;
    box-sizing: border-box;
    color: antiquewhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: aliceblue;
}

.modal{
    background-color: rgba(9, 2, 2, 0.8);
    color: rgb(223, 213, 213);
}
footer,
header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    header {
        display: block;
        
    }

    .navegacion{
        justify-content: center;
    }
}

.sections{
    display: flex;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
}

.sections button{
    background-color: black;
}

@media (max-width: 768px) {
    .sections {
        display: block;
    }
}
.enlace{
    text-decoration: none;

}

.containerGral{
    background-image: linear-gradient(-223deg,rgba(0, 0, 0, 0.953) 0%, rgb(19, 5, 5)47%, rgb(9, 8, 8) 100% ) ;
    /* background-image: linear-gradient(-223deg,rgb(233, 229, 227) 0%, rgb(218, 218, 218)47%, rgb(216, 216, 216) 100% ) ; */
    /* background-color: aliceblue; */
    /* background-image: linear-gradient(-223deg,rgb(7, 10, 10) 0%, rgb(3, 12, 12)47%, rgb(12, 63, 63) 100% ) ; */
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-image: url(../img/fondo-tres.jpg);
    background-repeat: repeat;
    height: 100vh;
    background-size: cover; */
}

.boton-activo {
    border: 2px solid rgb(232, 84, 84); /* Cambia el color y el grosor del borde según tus preferencias */
}

.boton-info{
    width: 50%;
    height: 4rem;
    font-size: 1.6rem; /* Tamaño de fuente ligeramente más pequeño */
    background-color: rgba(255, 255, 255, 0.4);
    /* border: none; */
   color: aliceblue;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 0.7rem; /* Añade bordes redondeados */
   
}
#projects-container{
    display: none; /* Oculta el componente 'div' por defecto */
    /* Estilos adicionales para el componente 'div' */
    
}



.aboutMe {
    /* background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/img/foto-tres.jpg'); */
        /* background-image: url(../img/fondo-tres.jpg);
    background-repeat: repeat;
    height: 100vh;
    background-size: cover; */
   
    text-align: center;
    padding: 3rem 0;
    margin: 2rem;
    width: 95%;
    margin: 0 auto;
  }
  
.presentation{
    background-color: rgba(8, 1, 1, 0.7);
    border-style: double;
    padding: 2rem;
}

.containerAboutMe{
    border: 2px solid rgb(30, 15, 10);
    padding: 1rem;
    /* background-color: rgb(0, 0, 0); */
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    /* height: 100vh; */
    background-size: cover;
    border-radius: 10px; /* Añade bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega sombra */
    
}

.columnsAboutMe {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Cambia la proporción de las columnas */
    align-items: center; /* Alinea verticalmente el contenido */
    gap: 2rem; /* Añade espaciado entre columnas */
    font-size: 1.5rem; /* Aumenta el tamaño de fuente */
    color: rgb(227, 213, 213); /* Cambia el color de texto */
    /* background-color: rgba(8, 1, 1, 0.3); */
  }

  @media (max-width: 768px) {
    .columnsAboutMe {
        display: block;
    }
}

.foto-perfil {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 4px solid #fff; /* Agrega un borde alrededor de la imagen */
    object-fit: cover; /* Controla cómo se ajusta la imagen dentro del contenedor */
  }
  
  .div-image-perfil{
    display: grid;
    gap:1rem;
    
    align-items: center;
    justify-content: center;
  }

  .cargo{
    background-color: rgba(8, 1, 1, 0.5);
    padding: 0.8rem;
    margin-bottom: 1rem;
  }

/* .foto-perfil{
    width: 15rem;
    border-radius: 50%;
} */

 .navegacion{
    margin-top: 1.3rem;
    display: flex;
    gap: 3rem;
}

.iconoNav{
    width: 4rem;
    list-style: none;
    list-style-type: none;
    
}
.logo{
    padding: 2rem;
}

.logo img{
    width: 30rem;
}

.logoModal{
    width: 15rem;
}

.title-tec{
    font-size: 1.5rem; /* Tamaño de fuente */
    color: #333; /* Color de texto */
    text-align: center; /* Alineación de texto al centro */
    margin-top: 20px; /* Margen superior para separarlo de otros elementos */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    font-weight: bold; /* Negrita */
    /* Otros estilos según tus preferencias */
}

.div-title{
    padding: 1rem;
    margin-bottom: 1rem;
}

.title-portfolio{
    font-size: 2rem; /* Tamaño de fuente */
    color: #333; /* Color de texto */
    text-align: center; /* Alineación de texto al centro */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    font-weight: bold; /* Negrita */    
}



.skills{
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    color: wheat;
}

.iconsSkills{
    gap: 3rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
}
.skill{
    width: 4rem;
}

.contenedorPortafolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-size: cover;
    padding: 2rem; /* Agrega espacio alrededor de las tarjetas */
    border-radius: 10px; /* Añade bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega sombra */
    /* margin-top: 4rem; */
}

.card{
    background-color: rgba(8, 1, 1, 0.5);
    /* background-image: linear-gradient(-223deg,rgb(25, 88, 34) 0%, rgb(10, 51, 19)47%, rgb(11, 92, 22) 100% ) ; */
    /* background-color: rgb(32, 63, 63); */
    padding: 1.5rem;
    /* margin-bottom: 1rem; */
    /* gap: 1rem; */
    border: 0.1rem solid rgb(11, 32, 68);
    border-radius: 1rem; /* Añade bordes redondeados a las tarjetas */
    box-shadow: 0 0 5rem rgba(10, 34, 106, 0.2);
    max-width: 400px; /* Establece un ancho máximo para las tarjetas */
}

.imagenCard img{
    width: 25rem;
    height: 30rem;
}

.botonSitio {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem; /* Tamaño de fuente ligeramente más pequeño */
    background-color: rgb(224, 66, 66);
    border: none;
    color: white; /* Color del texto */
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 0.7rem; /* Añade bordes redondeados */
  }

.enlaces p{
    color: aliceblue;
}
  
.enlaces img{
    width: 5rem;
}

.enlaces{
    text-decoration: none;
    text-align: center;
    border-radius: 3%;
    border-width: calc(0.1rem + 0.1px); /* Calcula el ancho del borde */
    border-style: solid;
    border-color: rgb(26, 84, 160);
    margin-top: 1rem;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.937);
    gap: 1rem;
}

.contenedorEnlace{
    gap: 1rem;
    /* background-color: rgba(255, 255, 255, 0.937); */
}

#enlacesUpTask{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3%;
    border-width: calc(0.1rem + 0.1px); /* Calcula el ancho del borde */
    border-style: solid;
     border-color: rgb(26, 84, 160);
     background-color: rgba(0, 0, 0, 0.937);
}

#enlacesAPV{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3%;
    border-width: calc(0.1rem + 0.1px); /* Calcula el ancho del borde */
    border-style: solid;
     border-color: rgb(26, 84, 160);
     background-color: rgba(0, 0, 0, 0.937);
}
.enlaces a{
    text-decoration: none;
    color: rgb(3, 6, 11);
    font-size: 1rem;
}


#contenidoAPV{
    padding: 1rem;
    width: 40%;
    height: 40%;
    margin: auto;
    background-color: rgb(12, 37, 37);
    text-align: center;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
}

.btn-close-white{
    border-radius: 45%;
    
}

.mostrar{
    display: block;
}

.btnCerrar{
    padding: 0.2rem;
    font-size: 1.2rem;
    color: aliceblue;
    margin-left: 85%;
    background-color: rgba(121, 45, 45, 0.5) ;
    cursor: pointer;
}

.btnModalClose{
    border: none;
    width: 47%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.ocultarModal{
    display: none;
}


/* .footer{
    background-color: aliceblue;
    height: 12rem;
    padding: 1rem 0 3rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-direction: column;
    justify-content: space-between;
} */

.copyright{
    margin-left: 5rem;
    font-size: 1.5rem;
    margin-top: 2.2rem;
}

.footer{
    background-image: linear-gradient(-223deg,rgba(0, 0, 0, 0.953) 0%, rgb(19, 5, 5)47%, rgb(9, 8, 8) 100% ) ;
    height: 10rem;
    text-align: center;
    justify-content: center;
    color: aliceblue;
}